.clt-switch {
  --clt-switch-on-color: var(--clt-color-primary);
  --clt-switch-off-color: var(--clt-border-color);
  --clt-switch-on-border-color: var(--clt-color-primary);
  --clt-switch-off-border-color: var(--clt-border-color);
}

.clt-switch {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  height: 32px;
  .clt-switch__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
    &:focus-visible {
      & ~ .clt-switch__core {
        outline: 2px solid var(--clt-switch-on-color);
        outline-offset: 1px;
      }
    }
  }
  &.is-checked {
    .clt-switch__core {
      border-color:var(--clt-switch-on-border-color);
      background-color: var(--clt-switch-on-color);
      .clt-switch__core-action {
        left: calc(100% - 17px);
      }
      .clt-switch__core-inner {
        padding: 0 18px 0 4px;
      }
    }
  }
}

.clt-switch__core {
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 20px;
  min-width: 40px;
  border: 1px solid var(--clt-switch-off-border-color);
  outline: none;
  border-radius: 10px;
  box-sizing: border-box;
  background: var(--clt-switch-off-color);
  cursor: pointer;
  transition: border-color var(--clt-transition-duration),background-color var(--clt-transition-duration);

  .clt-switch__core-action {
    position: absolute;
    left: 1px;
    border-radius: var(--clt-border-radius-circle);
    width: 16px;
    height: 16px;
    background-color: var(--clt-color-white);
    transition: all var(--clt-transition-duration);
  }

  .clt-switch__core-inner {
    width: 100%;
    transition: all var(--clt-transition-duration);
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0 4px 0 18px;
    .clt-switch__core-inner-text {
      font-size: 12px;
      color: var(--clt-color-white);
      user-select: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}